.contact{
    form{
        background-color: #fff;
        margin-inline: 20rem;
        padding: 5rem;
        border-radius: 5px;
        box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.1);
        display: flex;
        flex-direction: column;
        button{
            margin-left: auto;
            margin-top: 2rem;
            text-transform: uppercase;
            padding: 2rem 7rem;
        }
        label{
            display: flex;
            flex-direction: column;
            gap: 0.5rem;
            margin-bottom: 3rem;
            span, input, textarea{
                font-size: 1.6rem;
                resize: none;
            }
            input, textarea{
                background-color: #eee;
                border: none;
                padding: 2rem;
                border-radius: 5px;
                outline: none;
            }
            textarea{
                height: 20rem;
            }
        }
    }
}