.project-section{
    .project-list{
        display: flex;
        .project{
            display: flex;
            box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.1);
            border-radius: 5px;
            width: 100%;
            font-size: 1.6rem;
            overflow: hidden;
            color: white;
            &:hover img{
                transform: scale(1.5);
            }
            &-img{
                overflow: hidden;
                img{
                    transition: transform 0.3s linear;
                    width: 100%;
                    height: 100%;
                }
            }
            &-info{
                width: 70%;
                padding: 2rem 3rem;
                display: flex;
                flex-direction: column;
                gap: 2rem;
                .name{
                    border-radius: 5px;
                    font-weight: bold;
                    background-color: tomato;
                    clip-path: polygon(0 0, 75% 0, 100% 100%, 25% 100%);
                    text-align: center;
                    padding: 1rem;
                    font-size: 2.5rem;
                }
                .desc{
                    background-color: #444;
                    padding: 1rem;
                    border-radius: 5px;
                    font-size: 1.4rem;
                }
                .live-gh{
                    display: flex;
                    gap: 1rem;
                    & > *{
                        color: #fff;
                        padding: 0.5rem 1rem;
                        border-radius: 5px;
                        font-size: 1.4rem;
                    }
                    & > *:first-child{
                        background-color: darkcyan;
                    }
                    & > *:last-child{
                        background-color: orange;
                    }
                }
                .skills{
                    display: flex;
                    gap: 1rem;
                    color: black;
                    flex-wrap: wrap;
                    span{
                        padding: 0.5rem 1rem;
                        font-size: 1.4rem;
                        border-radius: 5px;
                    }
                }                
            }
        }
    }
}